
td i{
    font-size: 24px;
    color: #014a99;
    padding-top: 70px;
}
h1{
    font-size: 35px;
    font-family: "Lato Bold", Lato, sans-serif;
    font-weight: 700;
    text-align: center;
}
.p{
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}
.price{
    font-family: "Lato Italic", Lato, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}
.quantity{
    font-family: Lato-Regular, Lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    padding-bottom: 111px;

}
#Total{
    font-family: Lato-Regular, Lato, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
table div{
    font-weight: 300;
    padding-bottom: 90px;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #d7d7d7;
}

table td{
    padding: 20px;
    font-family: "Lato Bold", "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.item{
    margin: 7px;
    margin-top: 30px;
}
.item:not(table){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(121, 121, 121);
    width: 275px;
    height: 369px;
    padding: 30px;
    padding-right: 0px;
    
}
    .buttonco{
    background-color: #014a99;
    color: #ffffff;
    border: 0px;
    font-size: 16px;
    font-weight: 400;
    width: 167px;
    height: 45px;
    border-radius: 4px;
    margin-left: 35px;
    margin-right: 75px;
    cursor: pointer;

}
.checkout{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
div div:nth-child(4){
    font-size: 10px;
    color: #555555;
}
.pricespan{
    font-family: "Lato Bold", "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
    float: right;
    margin-right: 50px;
}

/*Navigation*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    align-items: center;
  }

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
  }

  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    border-bottom: 4px solid #004898;
  }
  
  .active {
    background-color: #004898;
    color: white;
  }
  /*All icons*/
.icon {
    color: #004898;
    font-size: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
}

.footer {
    width: 100%;
    height: 130px;
    background-color: #004998;
    color: rgba(255, 255, 255, 0.274);
    text-align: center;
}

.footer p {
    padding: 35px;
}

.socialMedia {
  color: white;
  padding: 5px;
}
